<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.emf.parsley"
            class="net.bhl.cdt.ui.view.ViewExecutableExtensionFactory:net.bhl.cdt.ui.view.modeleditor.ModelContainerEditor"
            id="net.bhl.cdt.ui.view"
            name="Model Container Editor"
            restorable="true">
      </view>
      <view
            category="org.eclipse.emf.parsley"
            class="net.bhl.cdt.ui.view.modeleditor.ModeleditorExecutableExtensionFactory:net.bhl.cdt.ui.view.modeleditor.ModelElementEditorView"
            id="net.bhl.cdt.ui.view.modeleditor"
            name="Parameter Table"
            restorable="true">
      </view>
      <view
            category="org.eclipse.emf.parsley"
            class="net.bhl.cdt.ui.view.modelstructuretreeview.ModelstructuretreeviewExecutableExtensionFactory:net.bhl.cdt.ui.view.modeleditor.ModelStructureTreeView"
            id="net.bhl.cdt.ui.view.modelstructuretreeview"
            name="Model Structure"
            restorable="true">
      </view>
   </extension>
   <extension
         id="net.bhl.cdt.ui.e4.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
</plugin>
