<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.bhl.cdt.connector.avl.ui.cheat.handlers.ReplicateAVLModelUserConfigHandler"
            id="net.bhl.cdt.connector.avl.ui.ReplicateAVLModelUserConfig"
            name="ReplicateAVLModelUserConfig">
      </command>
      <command
            defaultHandler="net.bhl.cdt.connector.avl.ui.cheat.handlers.ReplicateAVLProcessUserConfigHandler"
            id="net.bhl.cdt.connector.avl.ui.ReplicateAVLProcessUserConfig"
            name="ReplicateAVLProcessUserConfig">
      </command>
      <command
            defaultHandler="net.bhl.cdt.connector.avl.ui.cheat.handlers.ReplicateAVLUserCalculationsHandler"
            id="net.bhl.cdt.connector.avl.ui.ReplicateAVLUserCalculations"
            name="ReplicateAVLUserCalculations">
      </command>
      <command
            defaultHandler="net.bhl.cdt.connector.avl.ui.cheat.handlers.ReplicateAVLUserInputHandler"
            id="net.bhl.cdt.connector.avl.ui.cheat.ReplicateAVLUserInput"
            name="ReplicateAVLUserInput">
      </command>
      <command
            defaultHandler="net.bhl.cdt.connector.avl.ui.cheat.handlers.CreateAVLResultParsersHandler"
            id="net.bhl.cdt.connector.avl.ui.CreateAVLResultParsers"
            name="CreateAVLResultParsers">
      </command>
      <command
            defaultHandler="net.bhl.cdt.connector.avl.ui.cheat.handlers.CreateAVLProcessHandler"
            id="net.bhl.cdt.connector.avl.ui.CreateAVLProcess"
            name="CreateAVLProcess">
      </command>
      <command
            defaultHandler="net.bhl.cdt.connector.avl.ui.cheat.handlers.CreateAVLInputsHandler"
            id="net.bhl.cdt.connector.avl.ui.CreateAVLInputs"
            name="CreateAVLInputs">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.emf.ecp.ui.ModelExplorerView">
         <command
               commandId="net.bhl.cdt.connector.avl.ui.ReplicateAVLModelUserConfig"
               label="Replicate AVL Model User Config"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.connector.avl.avlmodel.AVLModelGenerator">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.connector.avl.ui.ReplicateAVLProcessUserConfig"
               label="Replicate AVL Process User Config"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.connector.avl.avlprocess.AVLProcessGenerator">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.connector.avl.ui.ReplicateAVLUserCalculations"
               label="Replicate AVL User Calculations"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.connector.avl.AVL">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.connector.avl.ui.cheat.ReplicateAVLUserInput"
               label="Replicate AVL User Input"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.connector.avl.AVL">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.connector.avl.ui.CreateAVLResultParsers"
               label="Create AVL Result Parsers"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.connector.avl.avlprocess.AVLProcessGenerator">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.connector.avl.ui.CreateAVLProcess"
               label="Create AVL Process"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.model.process.DesignProcess">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.connector.avl.ui.CreateAVLInputs"
               label="Create AVL Inputs"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.connector.avl.AVL">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.bhl.cdt.connector.avl.ui.preferences.AVLPreferencePage"
            id="net.bhl.cdt.coda.avl.ui.AVLPreferencePage"
            name="AVL">
      </page>
   </extension>

</plugin>
