<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="unitprovider" name="OpenCDT Unit Provider" schema="schema/unitprovider.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cdt -->
      <package
            uri="http://www.bauhaus-luftfahrt.net/cdt/base"
            class="model.base.BasePackage"
            genModel="model/cdt.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cdt -->
      <package
            uri="http://www.bauhaus-luftfahrt.net/cdt/data"
            class="model.data.DataPackage"
            genModel="model/cdt.genmodel"/>
   </extension>

</plugin>
