<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://bhl.net/cdt/utilities/exchangemodel"
            class="net.bhl.cdt.utilities.exchangemodel.ExchangemodelPackage"
            genModel="model/exchangemodel.genmodel"/>
      <package
            class="net.bhl.cdt.utilities.datatypes.DatatypesPackage"
            genModel="model/datatypes.genmodel"
            uri="http://bhl.net/cdt/utilities/datatypes">
      </package>
      <package
            class="net.bhl.cdt.utilities.basecalculationmodel.BasecalculationmodelPackage"
            genModel="model/basecalculation.genmodel"
            uri="http://bhl.net/cdt/utilities/basecalculationmodel/">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.client.editingDomainProvider">
      <provider
            class="net.bhl.cdt.utilities.commands.CDTEditingDomainProvider">
      </provider>
   </extension>

</plugin>
