<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="net.bhl.cdt.client.application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.bhl.cdt.client.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.bhl.cdt.client.ui.PerspectiveFactory"
            id="net.bhl.cdt.client.perspective1"
            name="name">
      </perspective>
   </extension>
   <extension
         id="net.bhl.cdt.client.products"
         name="OpenCDT Products"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.bhl.cdt.client.application"
            name="OpenCDT">
      </product>
   </extension>

</plugin>
