<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.bhl.cdt.client.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.bhl.cdt.client.application"
            name="AssessmentClient">
         <property
               name="appName"
               value="AssessmentClient">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="icons/16cdt.gif,icons/32cdt.gif,icons/48cdt.gif">
         </property>
         <property
               name="aboutImage"
               value="icons/48cdt.gif">
         </property>
         <property
               name="aboutText"
               value="Conceptual Design Tool (CDT)&#x0A;Copyright (c) 2009-2013 Bauhaus Luftfahrt e.V.. All rights reserved. This program and the accompanying materials are made available under the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at http://www.eclipse.org/legal/epl-v10.html&#x0A;&#x0A;Version 0.8.8&#x0A;&#x0A;CDT uses the following third party libaries:&#x0A;* javax.units which is available under the BSD license at  http://jsr-108.sourceforge.net/&#x0A;* jscience which is available under the BSD license at http://java.net/projects/jscience/&#x0A;&#x0A;CDT also uses some icons from fugue icons © 2012 Yusuke Kamiyamane. All rights reserved. which is available under the Creative Commons BY 3.0 license at http://p.yusukekamiyamane.com/&#x0A;&#x0A;Contributors (in alphabetical order):&#x0A;Martin Glas, Sebastian Höcht, Michael Kagel, Stephan Leutenmayr, Sami Mkhazni, Florian Penn, Otto von Wesendonk, Sven Ziemer">
         </property>
      </product>
   </extension>
   <extension
         id="applicationHeadless"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.bhl.cdt.client.ApplicationHeadless">
         </run>
      </application>
   </extension>

</plugin>
