<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.emf.ecp.ui.modelElementOpener">
      <modelElementOpener
            class="net.bhl.cdt.client.e4.editor.E4ModelElementOpener">
            <staticTester
            	modelElement="org.eclipse.emf.ecore.EObject"
               	priority="2">
         	</staticTester>
      </modelElementOpener>
   </extension>
   <extension
         id="OpenCDT"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="net.bhl.cdt.client.e4">
      </product>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.server.locationProvider">
      <LocationProvider
            providerClass="net.bhl.cdt.client.e4.emfstore.LocationProvider">
      </LocationProvider>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.client.workspaceLocationProvider">
      <LocationProvider
            providerClass="net.bhl.cdt.client.e4.emfstore.LocationProvider">
      </LocationProvider>
   </extension>
</plugin>
