<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated cdt -->
      <factory
            uri="http://www.bauhaus-luftfahrt.net/cdt/base"
            class="model.base.provider.BaseItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.ITableItemLabelProvider
               org.eclipse.emf.edit.provider.ITableItemColorProvider
               org.eclipse.emf.edit.provider.ITableItemFontProvider
               org.eclipse.emf.edit.provider.IItemColorProvider
               org.eclipse.emf.edit.provider.IItemFontProvider
               org.eclipse.emf.edit.provider.IItemStyledLabelProvider"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated cdt -->
      <factory
            uri="http://www.bauhaus-luftfahrt.net/cdt/data"
            class="model.data.provider.DataItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.ITableItemLabelProvider
               org.eclipse.emf.edit.provider.ITableItemColorProvider
               org.eclipse.emf.edit.provider.ITableItemFontProvider
               org.eclipse.emf.edit.provider.IItemColorProvider
               org.eclipse.emf.edit.provider.IItemFontProvider
               org.eclipse.emf.edit.provider.IItemStyledLabelProvider"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated cdt -->
      <factory
            uri="http://www.bauhaus-luftfahrt.net/cdt/data/measure"
            class="model.data.measure.provider.MeasureItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.ITableItemLabelProvider
               org.eclipse.emf.edit.provider.ITableItemColorProvider
               org.eclipse.emf.edit.provider.ITableItemFontProvider
               org.eclipse.emf.edit.provider.IItemColorProvider
               org.eclipse.emf.edit.provider.IItemFontProvider
               org.eclipse.emf.edit.provider.IItemStyledLabelProvider"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated cdt -->
      <factory
            uri="http://www.bauhaus-luftfahrt.net/cdt/experimental"
            class="model.experimental.provider.ExperimentalItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.ITableItemLabelProvider
               org.eclipse.emf.edit.provider.ITableItemColorProvider
               org.eclipse.emf.edit.provider.ITableItemFontProvider
               org.eclipse.emf.edit.provider.IItemColorProvider
               org.eclipse.emf.edit.provider.IItemFontProvider
               org.eclipse.emf.edit.provider.IItemStyledLabelProvider"/>
   </extension>

</plugin>
