<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="design_operation_strategy" name="design operation strategy" schema="schema/operation_strategy.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://bhl.net/cdt/model"
            class="net.bhl.cdt.model.ModelPackage"
            genModel="model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://bhl.net/cdt/model/process"
            class="net.bhl.cdt.model.process.ProcessPackage"
            genModel="model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://bhl.net/cdt/model/process/designoperations"
            class="net.bhl.cdt.model.process.designoperations.DesignoperationsPackage"
            genModel="model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://bhl.net/cdt/model/process/selection"
            class="net.bhl.cdt.model.process.selection.SelectionPackage"
            genModel="model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://bhl.net/cdt/model/system"
            class="net.bhl.cdt.model.system.SystemPackage"
            genModel="model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://bhl.net/cdt/model/geometry"
            class="net.bhl.cdt.model.geometry.GeometryPackage"
            genModel="model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated units -->
      <package
            uri="http://bhl.net/cdt/model/units"
            class="net.bhl.cdt.model.units.UnitsPackage"
            genModel="model/units.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated datatypes -->
      <package
            uri="http://bhl.net/cdt/model/datatypes/"
            class="net.bhl.cdt.model.datatypes.DatatypesPackage"
            genModel="model/datatypes.genmodel"/>
   </extension>

   <extension
         point="net.bhl.cdt.model.design_operation_strategy">
      <strategy
            class="net.bhl.cdt.model.process.designoperations.strategies.DesignProcessStrategy">
      </strategy>
      <strategy
            class="net.bhl.cdt.model.process.designoperations.strategies.AssumptionStrategy">
      </strategy>
      <strategy
            class="net.bhl.cdt.model.process.designoperations.strategies.CalculatedDecimalNumberStrategy">
      </strategy>
      <strategy
            class="net.bhl.cdt.model.process.selection.strategies.ValueSelectionStrategy">
      </strategy>
      <strategy
            class="net.bhl.cdt.model.process.selection.strategies.SelectedMeasuredValueStrategy">
      </strategy>
   </extension>

</plugin>
