<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cdt -->
      <package
            uri="http://www.bauhaus-luftfahrt.net/cdt/base"
            class="model.base.BasePackage"
            genModel="model/cdt.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cdt -->
      <package
            uri="http://www.bauhaus-luftfahrt.net/cdt/science"
            class="model.science.SciencePackage"
            genModel="model/cdt.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cdt -->
      <package
            uri="http://www.bauhaus-luftfahrt.net/cdt/data/quantities"
            class="model.science.quantities.QuantitiesPackage"
            genModel="model/cdt.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cdt -->
      <package
            uri="http://www.bauhaus-luftfahrt.net/cdt/data/parameter"
            class="model.science.parameter.ParameterPackage"
            genModel="model/cdt.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cdt -->
      <package
            uri="http://www.bauhaus-luftfahrt.net/cdt/data/unit"
            class="model.science.unit.UnitPackage"
            genModel="model/cdt.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cdt -->
      <package
            uri="http://www.bauhaus-luftfahrt.net/cdt/engineering"
            class="model.engineering.EngineeringPackage"
            genModel="model/cdt.genmodel"/>
   </extension>

</plugin>
