<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension-point id="design_operation_strategy" name="design operation strategy" schema="schema/operation_strategy.exsd"/>

   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/model.genmodel"
            uri="http://bhl.net/cdt/model"
            class="net.bhl.cdt.model.ModelPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/model.genmodel"
            uri="http://bhl.net/cdt/model/process"
            class="net.bhl.cdt.model.process.ProcessPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/model.genmodel"
            uri="http://bhl.net/cdt/model/process/designoperations"
            class="net.bhl.cdt.model.process.designoperations.DesignoperationsPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/model.genmodel"
            uri="http://bhl.net/cdt/model/process/selection"
            class="net.bhl.cdt.model.process.selection.SelectionPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/model.genmodel"
            uri="http://bhl.net/cdt/model/system"
            class="net.bhl.cdt.model.system.SystemPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/model.genmodel"
            uri="http://bhl.net/cdt/model/system/quantities"
            class="net.bhl.cdt.model.system.quantities.QuantitiesPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/model.genmodel"
            uri="http://bhl.net/cdt/model/geometry"
            class="net.bhl.cdt.model.geometry.GeometryPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/units.genmodel"
            uri="http://bhl.net/cdt/model/units"
            class="net.bhl.cdt.model.units.UnitsPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/datatypes.genmodel"
            uri="http://bhl.net/cdt/model/datatypes/"
            class="net.bhl.cdt.model.datatypes.DatatypesPackage">
      </package>
   </extension>
   <extension
         point="net.bhl.cdt.model.design_operation_strategy">
      <strategy
            class="net.bhl.cdt.model.process.designoperations.strategies.DesignProcessStrategy">
      </strategy>
      <strategy
            class="net.bhl.cdt.model.process.designoperations.strategies.AssumptionStrategy">
      </strategy>
      <strategy
            class="net.bhl.cdt.model.process.designoperations.strategies.CalculatedDecimalNumberStrategy">
      </strategy>
      <strategy
            class="net.bhl.cdt.model.process.selection.strategies.ValueSelectionStrategy">
      </strategy>
      <strategy
            class="net.bhl.cdt.model.process.selection.strategies.SelectedMeasuredValueStrategy">
      </strategy>
   </extension>
  

</plugin>
