<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.bhl.cdt.ui.configurationview.filter" name="Configuration View filter" schema="schema/net.bhl.cdt.ui.configurationview.filter.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.bhl.cdt.ui.CDTPerspectiveFactory"
            id="net.bhl.cdt.ui.CDTPerspective"
            name="CDT Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="net.bhl.cdt.ui.views.ConfigurationView"
            icon="icons/configuration.gif"
            id="net.bhl.cdt.ui.views.ConfigurationView"
            name="ConfigurationView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:net.bhl.cdt.gui.views.ConfigurationView">
         <separator
               name="net.bhl.cdt.gui.MEDeleteCommand"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.emf.ecp.ui.workbench.deleteModelElement"
               icon="icons/delete.gif"
               label="Delete Model Element"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.ecore.EObject">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.emf.ecp.ui.ModelExplorerView">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/monitor.png"
               label="Show Views"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.window.preferences"
               icon="icons/preferences.png"
               label="Preferences"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.emf.ecp.ui.ModelRepositoriesView">
         <command
               commandId="org.eclipse.emf.ecp.ui.addrepository"
               label="addRepository"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.bhl.cdt.ui.handler.NewProjectHandler"
            id="net.bhl.cdt.ui.NewProjectHandler"
            name="New Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="net.bhl.cdt.ui.CDTWelcomePage"
            id="net.bhl.cdt.ui.intro"
            label="CDT Welcome Page">
      </intro>
      <introProductBinding
            introId="net.bhl.cdt.ui.intro"
            productId="net.bhl.cdt.client.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.bhl.cdt.ui.editors.ArrayEditor"
            id="net.bhl.cdt.ui.editors.ArrayEditor"
            name="Array Editor">
      </editor>
      <editor
            class="net.bhl.cdt.ui.editors.TestEditor"
            id="net.bhl.cdt.ui.editors.TestEditor"
            name="New EditorPart">
      </editor>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.client.workspaceLocationProvider">
      <LocationProvider
            providerClass="net.bhl.cdt.ui.WorkspaceLocationProvider">
      </LocationProvider>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.ui.modelElementOpener">
      <modelElementOpener
            class="net.bhl.cdt.ui.editors.arrays.ArrayEditorOpener">
         <staticTester
               modelElement="net.bhl.cdt.utilities.datatypes.Array"
               priority="1">
         </staticTester>
      </modelElementOpener>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.core.filters">
      <FilterProvider
            class="net.bhl.cdt.ui.CDTDefaultFilterProvider">
      </FilterProvider>
   </extension>

</plugin>
