<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.bhl.cdt.ui.configurationview.filter" name="Configuration View filter" schema="schema/net.bhl.cdt.ui.configurationview.filter.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.bhl.cdt.ui.CDTPerspectiveFactory"
            id="net.bhl.cdt.ui.CDTPerspective"
            name="CDTPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="net.bhl.cdt.ui.views.ConfigurationView"
            icon="icons/configuration.gif"
            id="net.bhl.cdt.ui.views.ConfigurationView"
            name="ConfigurationView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.emf.ecp.navigator.viewer?after=additions">
         <dynamic
               class="net.bhl.cdt.ui.command.ExtendedDynamicContainmentCommand"
               id="org.eclipse.emf.ecp.navigator.commands.DynamicContainmentCommands">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="org.eclipse.emf.ecore.EObject">
                        </instanceof>
                     </or>
                     <test
                           args="ContainmentCreationActions"
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecp.navigator.isActionEnabled"
                           value="true">
                     </test>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </dynamic>
      </menuContribution>
      <menuContribution
            locationURI="popup:net.bhl.cdt.gui.views.ConfigurationView">
         <dynamic
               class="net.bhl.cdt.ui.command.ExtendedDynamicContainmentCommand"
               id="org.eclipse.emf.ecp.navigator.commands.DynamicContainmentCommands">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="org.eclipse.emf.ecore.EObject">
                        </instanceof>
                     </or>
                     <test
                           args="ContainmentCreationActions"
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecp.navigator.isActionEnabled"
                           value="true">
                     </test>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </dynamic>
         <separator
               name="net.bhl.cdt.gui.MEDeleteCommand"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.emf.ecp.common.deleteModelelement"
               icon="icons/delete.gif"
               label="Delete Model Element"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.ecore.EObject">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.emf.ecp.navigator.viewer">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/monitor.png"
               label="Show Views"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.window.preferences"
               icon="icons/preferences.png"
               label="Preferences"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.bhl.cdt.ui.handler.NewProjectHandler"
            id="net.bhl.cdt.ui.NewProjectHandler"
            name="New Project">
      </command>
      <command
            defaultHandler="net.bhl.cdt.ui.handler.AddFunctionHandler"
            id="net.bhl.cdt.ui.addFunction"
            name="Add Function">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="net.bhl.cdt.ui.CDTWelcomePage"
            id="net.bhl.cdt.ui.intro"
            label="CDT Welcome Page">
      </intro>
      <introProductBinding
            introId="net.bhl.cdt.ui.intro"
            productId="net.bhl.cdt.client.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.bhl.cdt.ui.preferences.ScilabPreferencePage"
            id="net.bhl.cdt.ui.ScilabPreferencePage"
            name="Scilab Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.bhl.cdt.ui.editors.FunctionEditor"
            extensions="func"
            icon="icons/sample.gif"
            id="net.bhl.cdt.ui.editors.FunctionEditor"
            name="Function Editor">
      </editor>
      <editor
            class="net.bhl.cdt.ui.editors.CalculationEditor"
            extensions="func"
            icon="icons/sample.gif"
            id="net.bhl.cdt.ui.editors.CalculationEditor"
            name="CalculationEditor">
      </editor>
      <editor
            class="net.bhl.cdt.ui.editors.CalculationSetEditor"
            extensions="func"
            icon="icons/sample.gif"
            id="net.bhl.cdt.ui.editors.CalculationSetEditor"
            name="CalculationSetEditor">
      </editor>
      <editor
            class="net.bhl.cdt.ui.editors.ArrayEditor"
            id="net.bhl.cdt.ui.editors.ArrayEditor"
            name="Array Editor">
      </editor>
      <editor
            class="net.bhl.cdt.ui.editors.ArrayEditor2"
            id="net.bhl.cdt.gui.editors.ArrayEditor2"
            name="New EditorPart">
      </editor>
      <editor
            class="net.bhl.cdt.ui.editors.ArrayEditor2"
            id="net.bhl.cdt.gui.editors.ArrayEditor2"
            name="New EditorPart">
      </editor>
      <editor
            class="net.bhl.cdt.ui.editors.ArrayEditor2"
            id="net.bhl.cdt.gui.editors.ArrayEditor2"
            name="New EditorPart">
      </editor>
      <editor
            class="net.bhl.cdt.ui.editors.TestEditor"
            id="net.bhl.cdt.ui.editors.TestEditor"
            name="New EditorPart">
      </editor>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.common.modelelementopener">
      <ModelElementOpener
            class="net.bhl.cdt.ui.CDTModelElementOpener"
            name="net.bhl.cdt.ui.CDTModelElementOpener">
      </ModelElementOpener>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.common.modelelementopener">
      <ModelElementOpener
            class="net.bhl.cdt.ui.editors.function.FunctionEditorOpener"
            name="net.bhl.cdt.ui.editors.function.FunctionEditorOpener">
      </ModelElementOpener>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.common.modelelementopener">
      <ModelElementOpener
            class="net.bhl.cdt.ui.editors.calculation.CalculationEditorOpener"
            name="net.bhl.cdt.ui.editors.calculation.CalculationEditorOpener">
      </ModelElementOpener>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.common.modelelementopener">
      <ModelElementOpener
            class="net.bhl.cdt.ui.editors.calculationset.CalculationSetOpener"
            name="net.bhl.cdt.ui.editors.calculationset.CalculationSetOpener">
      </ModelElementOpener>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.client.workspaceLocationProvider">
      <LocationProvider
            providerClass="net.bhl.cdt.ui.WorkspaceLocationProvider">
      </LocationProvider>
   </extension>

</plugin>
