<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.emf.parsley"
            class="org.eclipse.emf.parsley.examples.firstexample.FirstexampleExecutableExtensionFactory:org.eclipse.emf.parsley.examples.firstexample.FirstexampleSaveableTreeFormView"
            id="org.eclipse.emf.parsley.examples.firstexample"
            name="My Library Tree Form"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.view.model.provider.xmi.file">
      <file
            filePath="src/Writer.view">
      </file>
   </extension>
</plugin>
