<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="importstrategy" name="importstrategy" schema="schema/importstrategy.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.bhl.cdt.calculation.handlers.CalculateHandler"
            id="net.bhl.cdt.controller.command.calculate"
            name="Calculate">
      </command>
      <command
            defaultHandler="net.bhl.cdt.calculation.handlers.ConfigureCalculationHandler"
            id="net.bhl.cdt.controller.configureCalculation"
            name="ConfigureCalculation">
      </command>
      <command
            defaultHandler="net.bhl.cdt.calculation.handlers.DemoAircraftModelHandler"
            id="net.bhl.cdt.calculation.command.demoAircraftModel"
            name="DemoAircraftModel">
      </command>
      <command
            defaultHandler="net.bhl.cdt.calculation.handlers.VerifyCalculationSetHandler"
            id="net.bhl.cdt.controller.verifyCalculationSet"
            name="VerifyCalculationSet">
      </command>
      <command
            defaultHandler="net.bhl.cdt.calculation.handlers.DetermineInitialValuesForCalulationSetHandler"
            id="net.bhl.cdt.controller.DetermineInitialValuesForCalculationSet"
            name="DetermineInitialValuesForCalculationSet">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.emf.ecp.navigator.viewer?after=additions">
         <command
               commandId="net.bhl.cdt.controller.configureCalculation"
               icon="icons/cog_edit.png"
               label="Configure Calculation..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="net.bhl.cdt.model.Component">
                        </instanceof>
                        <instanceof
                              value="net.bhl.cdt.model.calculation.CalculationSet">
                        </instanceof>
                        <instanceof
                              value="net.bhl.cdt.model.Configuration">
                        </instanceof>
                     </or>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.controller.command.calculate"
               icon="icons/cog_go.png"
               label="Execute Calculations"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="net.bhl.cdt.model.calculation.Calculation">
                        </instanceof>
                        <instanceof
                              value="net.bhl.cdt.model.calculation.CalculationSet">
                        </instanceof>
                     </or>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.calculation.command.demoAircraftModel"
               icon="icons/cog_edit.png"
               label="Import Demo Aircraft Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate>
                     <instanceof
                           value="net.bhl.cdt.model.Model">
                     </instanceof>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.controller.verifyCalculationSet"
               icon="icons/cog_go.png"
               label="Verify CalculationSet"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate>
                     <instanceof
                           value="net.bhl.cdt.model.calculation.CalculationSet">
                     </instanceof>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.controller.DetermineInitialValuesForCalculationSet"
               icon="icons/cog_go.png"
               label="Determine Initial Parameters"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate>
                     <or>
                        <instanceof
                              value="net.bhl.cdt.model.calculation.CalculationSet">
                        </instanceof>
                        <instanceof
                              value="net.bhl.cdt.model.calculation.CalculationGraph">
                        </instanceof>
                     </or>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:net.bhl.cdt.gui.views.ConfigurationView?after=additions">
         <command
               commandId="net.bhl.cdt.controller.configureCalculation"
               icon="icons/cog_edit.png"
               label="Configure Calculation..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="net.bhl.cdt.model.Component">
                        </instanceof>
                        <instanceof
                              value="net.bhl.cdt.model.calculation.CalculationSet">
                        </instanceof>
                     </or>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.controller.command.calculate"
               icon="icons/cog_go.png"
               label="Execute Calculations"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="net.bhl.cdt.model.calculation.CalculationSet">
                     </instanceof>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
