<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="OpenCDT Target Platform" sequenceNumber="314">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.12.0.v20170209-1843"/>
<unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="4.5.100.v20170131-1452"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.10.0.201606071713"/>
<unit id="org.eclipse.emf.emfstore.sdk.feature.feature.group" version="1.8.1.v20161125-1451"/>
<unit id="org.eclipse.emf.ecp.emfforms.sdk.feature.feature.group" version="1.12.0.20170227-1527"/>
<unit id="org.eclipse.birt.source.feature.group" version="4.6.0.v201606072122"/>
<unit id="org.eclipse.emf.parsley.sdk.feature.group" version="1.1.1.v20170221-1102"/>
<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.2.1.201608311750"/>
<unit id="org.eclipse.birt.cshelp.feature.group" version="4.6.0.v201606072122"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.12.0.v20160526-0356"/>
<unit id="org.eclipse.emf.eef.sdk-feature.feature.group" version="1.5.1.201601141612"/>
<unit id="org.eclipse.birt.doc.feature.group" version="4.6.0.v201606072122"/>
<unit id="org.eclipse.birt.example.feature.group" version="4.6.0.v201606072122"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.10.0.v201605250459"/>
<unit id="org.eclipse.birt.feature.group" version="4.6.0.v201606072122"/>
<unit id="org.eclipse.pde.feature.group" version="3.12.3.v20170301-0400"/>
<unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="3.2.1.201703011420"/>
<unit id="org.eclipse.birt.chart.cshelp.feature.group" version="4.6.0.v201606072122"/>
<repository location="http://download.eclipse.org/releases/neon"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jgit.lfs.feature.group" version="4.7.1.201706071930-r"/>
<unit id="org.eclipse.egit.source.feature.group" version="4.7.1.201706071930-r"/>
<unit id="org.eclipse.jgit.feature.group" version="4.7.1.201706071930-r"/>
<unit id="org.eclipse.egit.mylyn.feature.group" version="4.7.1.201706071930-r"/>
<unit id="org.eclipse.jgit.pgm.feature.group" version="4.7.1.201706071930-r"/>
<unit id="org.eclipse.jgit.http.apache.feature.group" version="4.7.1.201706071930-r"/>
<unit id="org.eclipse.egit.feature.group" version="4.7.1.201706071930-r"/>
<unit id="org.eclipse.jgit.pgm.source.feature.group" version="4.7.1.201706071930-r"/>
<unit id="org.eclipse.jgit.source.feature.group" version="4.7.1.201706071930-r"/>
<repository location="http://download.eclipse.org/egit/updates"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.ecp.emfforms.idetooling.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.rule.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.custom.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.makeithappen.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.group.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.sdk.e4.feature.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.diffmerge.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.emfstore.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.changebroker.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emfforms.view.annotation.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.ecore.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.viewmodel.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.template.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emfforms.rulerepository.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.treemasterdetail.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.compoundcontrol.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emfforms.swt.control.multiattribute.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.mappingdmr.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.stack.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.validation.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.viewproxy.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.demo.e4.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.edapt.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.vertical.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emfforms.swt.control.text.autocomplete.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.keyattributedmr.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.table.ui.swt.persistedstate.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.group.swt.collapsible.pgroup.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.table.ui.rcp.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.e4.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.table.celleditor.rcp.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.table.ui.nebula.grid.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.validation.bean.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.di.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emfforms.editor.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.emfforms.runtime.feature.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.table.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.e3.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.cdo.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.unset.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.section.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.categorization.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emfforms.editor.genmodel.util.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.demo.e3.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.horizontal.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.model.editor.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.label.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.workspace.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emfforms.swt.controlgrid.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.validation.view.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emfforms.swt.control.text.richtext.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.validation.initial.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.model.controls.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.view.indexdmr.feature.source.feature.group" version="1.10.0.20160912-1709"/>
<unit id="org.eclipse.emf.ecp.emfforms.sdk.feature.feature.group" version="1.10.0.20160912-1709"/>
<repository location="http://download.eclipse.org/ecp/releases/releases_target_110/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="4.5.100.v20170131-1452"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.12.0.v20170209-1843"/>
<unit id="org.eclipse.swt.tools.feature.feature.group" version="3.105.3.v20161230-1118"/>
<unit id="org.eclipse.osgi.compatibility.plugins.feature.feature.group" version="1.0.0.v20150202-1328"/>
<unit id="org.eclipse.platform.ide" version="4.6.3.M20170301-0400"/>
<unit id="org.eclipse.platform.sdk" version="4.6.3.M20170301-0400"/>
<unit id="org.eclipse.jdt.feature.group" version="3.12.3.v20170301-0400"/>
<unit id="org.eclipse.test.feature.group" version="3.7.100.v20170213-1316"/>
<unit id="org.eclipse.pde.source.feature.group" version="3.12.3.v20170301-0400"/>
<unit id="org.eclipse.sdk.examples.source.feature.group" version="3.5.600.v20170301-0400"/>
<unit id="org.eclipse.rcp.feature.group" version="4.6.3.v20170301-0400"/>
<unit id="org.eclipse.pde.feature.group" version="3.12.3.v20170301-0400"/>
<unit id="org.eclipse.rcp.source.feature.group" version="4.6.3.v20170301-0400"/>
<unit id="org.eclipse.jdt.source.feature.group" version="3.12.3.v20170301-0400"/>
<unit id="org.eclipse.sdk.tests.feature.group" version="4.6.3.v20170301-0400"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.6"/>
</location>
</locations>
</target>
