<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="OpenCDT Target Platform Linux" sequenceNumber="284">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="net.jsdai.express_compiler.feature.feature.group" version="4.3.2.v201112201320"/>
<unit id="net.jsdai.express_g.feature.feature.group" version="4.3.2.v201112201320"/>
<unit id="net.jsdai.xim.validation.feature.feature.group" version="4.3.2.v201112201321"/>
<repository location="http://eclipse.jsdai.net"/>
</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.birt.feature.group" version="4.7.0.v201706222054"/>
			<unit id="org.eclipse.birt.source.feature.group" version="4.7.0.v201706222054"/>
			<unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="4.11.0.v20190215-0401"/>
			<unit id="org.eclipse.egit.feature.group" version="5.3.0.201903130848-r"/>
			<unit id="org.eclipse.emf.compare.egit.feature.group" version="3.3.6.201903050300"/>
			<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.3.6.201903050300"/>
			<unit id="org.eclipse.emf.parsley.sdk.feature.group" version="1.6.0.v20190308-1020"/>
			<unit id="org.eclipse.emf.parsley.sdk.source.feature.group" version="1.6.0.v20190308-1020"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.17.0.v20190301-1325"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="3.17.0.v20190305-2225"/>
			<unit id="org.eclipse.jdt.feature.group" version="3.17.0.v20190307-0500"/>
			<unit id="org.eclipse.jgit.feature.group" version="5.3.0.201903130848-r"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="2.17.0.v20190304-1445"/>
			<repository location="https://download.eclipse.org/releases/2019-03"/>
			<unit id="org.eclipse.egit.gitflow.feature.feature.group" version="5.3.0.201903130848-r"/>
			<unit id="org.eclipse.egit.mylyn.feature.group" version="5.3.0.201903130848-r"/>
			<unit id="org.eclipse.egit.source.feature.group" version="5.3.0.201903130848-r"/>
			<unit id="org.eclipse.emf.compare.diagram.sirius.feature.group" version="3.3.6.201903050300"/>
			<unit id="org.eclipse.emf.compare.diagram.sirius.source.feature.group" version="3.3.6.201903050300"/>
			<unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="3.3.6.201903050300"/>
			<unit id="org.eclipse.emf.compare.source.feature.group" version="3.3.6.201903050300"/>
			<unit id="org.eclipse.emf.compare.uml2.feature.group" version="3.3.6.201903050300"/>
			<unit id="org.eclipse.emf.compare.uml2.source.feature.group" version="3.3.6.201903050300"/>
			<unit id="org.eclipse.emf.validation.feature.group" version="1.12.1.201812070911"/>
			<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.12.1.201812070911"/>
			<unit id="org.eclipse.emf.validation.source.feature.group" version="1.12.1.201812070911"/>
			<unit id="org.eclipse.equinox.p2.core.feature.source.feature.group" version="1.6.100.v20190218-2100"/>
			<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.11.300.v20190220-1158"/>
			<unit id="org.eclipse.platform.sdk" version="4.11.0.I20190307-0500"/>
			<unit id="org.eclipse.sdk.ide" version="4.11.0.I20190307-0500"/>
			<unit id="org.eclipse.sirius.properties.feature.feature.group" version="6.1.2.201902150923"/>
			<unit id="org.eclipse.sirius.runtime.feature.group" version="6.1.2.201902150923"/>
			<unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="6.1.2.201902150923"/>
			<unit id="org.eclipse.sirius.runtime.ide.xtext.feature.group" version="6.1.2.201902150923"/>
			<unit id="org.eclipse.sirius.samples.feature.group" version="6.1.2.201902150923"/>
			<unit id="org.eclipse.sirius.specifier.properties.feature.feature.group" version="6.1.2.201902150923"/>
			<unit id="org.eclipse.e4.core.tools.feature.feature.group" version="4.11.0.v20190215-0401"/>
		</location>
</locations>
<environment>
<os>linux</os>
<ws>gtk</ws>
<arch>x86_64</arch>
</environment>
</target>
