<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="uimanager" name="CDTUIManager" schema="schema/net.bhl.cdt.client.e4.uimanager.exsd"/>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="net.bhl.cdt.client.e4"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://net.bhl.cdt.client.e4/net.bhl.cdt.client.e4.E4LifeCycle">
         </property>
         <property
               name="appName"
               value="net.bhl.cdt.client.e4">
         </property>
         <property
               name="windowImages"
               value="res/OpenCDT_Symbol_0016.png,res/OpenCDT_Symbol_0032.png,res/OpenCDT_Symbol_0064.png,res/OpenCDT_Symbol_0128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="windowImages"
               value="res/OpenCDT_Symbol_0016.png,res/OpenCDT_Symbol_0032.png,res/OpenCDT_Symbol_0064.png,res/OpenCDT_Symbol_0128.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.client.workspaceLocationProvider">
      <LocationProvider
            providerClass="net.bhl.cdt.client.e4.emfstore.LocationProvider">
      </LocationProvider>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.server.locationProvider">
      <LocationProvider
            providerClass="net.bhl.cdt.client.e4.emfstore.LocationProvider">
      </LocationProvider>
      <extension
            id="product"
            point="org.eclipse.core.runtime.products">
         <product
               application="org.eclipse.e4.ui.workbench.swt.E4Application"
               name="net.bhl.cdt.client.e4">
            <property
                  name="windowImages"
                  value="res/OpenCDT_Symbol_0016.png,res/OpenCDT_Symbol_0032.png,res/OpenCDT_Symbol_0064.png,res/OpenCDT_Symbol_0128.png">
            </property>
            <property
                  name="startupForegroundColor"
                  value="000000">
            </property>
            <property
                  name="startupProgressRect"
                  value="5,275,445,15">
            </property>
            <property
                  name="startupMessageRect"
                  value="7,252,445,20">
            </property>
            <property
                  name="preferenceCustomization"
                  value="plugin_customization.ini">
            </property>
         </product>
      </extension>
   </extension>

</plugin>
