<?xml version="1.0" encoding="UTF-8"?>
<plugin>

	<extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.emf.ecp.application.e4.isProjectSelected"><with
               variable="org.eclipse.ui.selection">
               <or>
                  <instanceof
                        value="org.eclipse.emf.ecp.core.ECPProject">
                  </instanceof>
                  <iterate
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.ecp.core.ECPProject">
                     </instanceof>
                  </iterate>
               </or>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.application.e4.isModelElementSelected">
         <with
               variable="org.eclipse.ui.selection">
               <or>
                  <instanceof
                        value="org.eclipse.emf.ecore.EObject">
                  </instanceof>
                  <iterate
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.ecore.EObject">
                     </instanceof>
                  </iterate>
               </or>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.application.e4.isSingleModelElementSelected">
         <with
               variable="org.eclipse.ui.selection">
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.application.e4.isSingleProjectOrModelElementSelected">
         <with
               variable="org.eclipse.ui.selection">
               <or>
                   <instanceof
                         value="org.eclipse.emf.ecore.EObject">
                   </instanceof>
                   <instanceof
                         value="org.eclipse.emf.ecp.core.ECPProject">
                   </instanceof>
               </or>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.application.e4.isProjectClosed">
         <with
               variable="org.eclipse.ui.selection">
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecp.core.ECPProject">
                  </instanceof>
                  <test
                        property="org.eclipse.emf.ecp.core.project.closed"
                        value="true">
                  </test>
                  <test
                        args="org.eclipse.emf.ecp.ui.closable"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </and>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.emf.ecp.core.ECPProject">
                  </instanceof>
                  <test
                        property="org.eclipse.emf.ecp.core.project.closed"
                        value="true">
                  </test>
                  <test
                        args="org.eclipse.emf.ecp.ui.closable"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </iterate>
            </or>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.application.e4.isProjectOpened">
         <with
               variable="org.eclipse.ui.selection">
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecp.core.ECPProject">
                  </instanceof>
                  <test
                        property="org.eclipse.emf.ecp.core.project.open"
                        value="true">
                  </test>
                  <test
                        args="org.eclipse.emf.ecp.ui.closable"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </and>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.emf.ecp.core.ECPProject">
                  </instanceof>
                  <test
                        property="org.eclipse.emf.ecp.core.project.open"
                        value="true">
                  </test>
                  <test
                        args="org.eclipse.emf.ecp.ui.closable"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </iterate>
            </or>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.ui.modelElementOpener">
      <modelElementOpener
            class="net.bhl.cdt.client.e4.editor.E4ModelElementOpener">
            <staticTester
            	modelElement="org.eclipse.emf.ecore.EObject"
               	priority="2">
         	</staticTester>
      </modelElementOpener>
   </extension>
   <extension
         id="OpenCDT"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="net.bhl.cdt.client.e4">
         <property
               name="lifeCycleURI"
               value="bundleclass://net.bhl.cdt.client.e4/net.bhl.cdt.client.e4.E4LifeCycle">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.server.locationProvider">
      <LocationProvider
            providerClass="net.bhl.cdt.client.e4.emfstore.LocationProvider">
      </LocationProvider>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.client.workspaceLocationProvider">
      <LocationProvider
            providerClass="net.bhl.cdt.client.e4.emfstore.LocationProvider">
      </LocationProvider>
   </extension>
</plugin>
