<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated formula -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="formula.presentation.FormulaModelWizardID"
            name="%_UI_FormulaModelWizard_label"
            class="formula.presentation.FormulaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FormulaModelFile.gif">
         <description>%_UI_FormulaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated formula -->
      <editor
            id="formula.presentation.FormulaEditorID"
            name="%_UI_FormulaEditor_label"
            icon="icons/full/obj16/FormulaModelFile.gif"
            extensions="formula"
            class="formula.presentation.FormulaEditor"
            contributorClass="formula.presentation.FormulaActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated formula -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="cdtliterature.presentation.CdtliteratureModelWizardID"
            name="%_UI_CdtliteratureModelWizard_label"
            class="cdtliterature.presentation.CdtliteratureModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CdtliteratureModelFile.gif">
         <description>%_UI_CdtliteratureModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated formula -->
      <editor
            id="cdtliterature.presentation.CdtliteratureEditorID"
            name="%_UI_CdtliteratureEditor_label"
            icon="icons/full/obj16/CdtliteratureModelFile.gif"
            extensions="cdtliterature"
            class="cdtliterature.presentation.CdtliteratureEditor"
            contributorClass="cdtliterature.presentation.CdtliteratureActionBarContributor">
      </editor>
   </extension>

</plugin>
